* {
    margin: 0 auto;
}

.red-main-block {
    background: #712121;
    height: 35.7em;
    position: relative
}

.main-text {
    color: aliceblue;
    font-family: Arial, serif;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.support-text {
    color: aliceblue;
    font-family: Arial, serif;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}